<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;400&display=swap"
        rel="stylesheet">
    <!-- bootstrap  -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="css/Images/logo.png">
                    <h2>JMI<span class="success"> HOSTEL</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a id="dashboard" class="active" href="#">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a id="profile" href="#">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Profile</h3>
                </a>

                <a id="complain" href="#">
                    <span class="material-symbols-outlined">
                        sms_failed
                    </span>
                    <h3>Complain</h3>
                </a>
                <a id="payment" href="#">
                    <span class="material-symbols-outlined">
                        payments
                    </span>
                    <h3>Payment</h3>
                </a>
                <a id="chat" href="#">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>Chats</h3>
                    <!-- <span class="message-count">New</span> -->
                </a>

                <a id="settings" href="#">
                    <!-- <span class="material-icons-sharp">settings</span> -->
                    <!-- <h3>Settings</h3> -->
                </a>


                <a class="logout" href="#">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
        </aside>



        <main>
            <h1>Dashoard</h1>

            <div class="date">
                <p id="date"></p>
            </div>
            <p><br></p>
            <p><br></p>
            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <p><br></p>
                            <h1>My Jamia</h1>
                            <h3>Main</h3>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                                <!-- <button class="btn btn-lg  btn-outline">Go</button> -->
                            </svg>
                            <div class="number">
                                <button type="button" class="go"
                                    onclick="location.href='https://www.jmi.ac.in/'">Go</button>
                            </div>
                        </div>

                    </div>
                    <!-- <small class="text-muted">Last 24 Hours </small>     -->
                </div>


                <div class="expenses">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <p><br></p>
                            <h1>JMI COE</h1>
                            <h3>Examination</h3>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <button type="button" class="go"
                                    onclick="location.href='https://www.jmi.ac.in/'">Go</button>
                            </div>
                        </div>
                    </div>
                    <!-- <small class="text-muted">Last 24 Hours </small> -->
                </div>


                <div class="income">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <p><br></p>
                            <h1>Student Acccount</h1>
                            <h3>Account</h3>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <button type="button" class="go"
                                    onclick="location.href='https://www.jmi.ac.in/'">Go</button>
                            </div>
                        </div>
                    </div>
                    <!-- <small class="text-muted">Last 24 Hours </small> -->
                </div>
            </div>

            <!-- <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Number</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>85631</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div> -->
        </main>

        <reg>
            <div class="registration">
                <%if(data1.length> 0) {%>
                    <h1>Profile</h1>
                    <form action="/registration" method="POST">
                        <div class="form first">
                            <div class="details personal">
                                <span class="title">Personal Details</span>

                                <div class="fields">
                                    <div class="output-field">
                                        <label>Full Name</label>
                                        <p>
                                            <%= data1[0].student_name %>
                                        </p>
                                        <!-- <input name="stud_name" type="text" placeholder="Enter your name" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Date of Birth</label>
                                        <p>
                                            <%= data1[0].dob %>
                                        </p>
                                        <!-- <input name="dob" type="date" placeholder="Enter birth date" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Father's Name</label>
                                        <p>
                                            <%= data1[0].fathername %>
                                        </p>
                                        <!-- <input name="father_name" type="text" placeholder="Enter your Father's Name" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Mobile Number</label>
                                        <p>
                                            <%= data1[0].mobileno %>
                                        </p>
                                        <!-- <input name="mob_no" type="number" placeholder="Enter mobile number" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Gender</label>
                                        <p>
                                            <%= data1[0].gender %>
                                        </p>
                                    </div>

                                    <div class="output-field">
                                        <label>Email</label>
                                        <p>
                                            <%= data1[0].email %>
                                        </p>
                                        <!-- <input name="email" type="text" placeholder="Enter your Email" required> -->
                                    </div>
                                </div>
                            </div>

                            <div class="details ID">
                                <span class="title">Identity Details</span>

                                <div class="fields">
                                    <div class="output-field">
                                        <label>ID Card</label>
                                        <p>
                                            Uploaded
                                        </p>
                                        <!-- <input name="id_type" type="text" placeholder="Enter ID type" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>ID Number</label>
                                        <p>
                                            <%= data1[0].id_no %>
                                        </p>
                                        <!-- <input name="id_no" type="number" placeholder="Enter ID number" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Faculty</label>
                                        <p>
                                            <%= data1[0].faculty %>
                                        </p>
                                        <!-- <output name="faculty" type="text" placeholder="Enter Faculty" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Department</label>
                                        <p>
                                            <%= data1[0].dept %>
                                        </p>
                                        <!-- <output name="dept" type="text" placeholder="Enter Department" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Issued Date</label>
                                        <p>
                                            <%= data1[0].issue %>
                                        </p>
                                        <!-- <output name="issuse" type="date" placeholder="Enter your issued date" required> -->
                                    </div>

                                    <div class="output-field">
                                        <label>Expiry Date</label>
                                        <p>
                                            <%= data1[0].expiry %>
                                        </p>
                                        <!-- <output name="expiry" type="date" placeholder="Enter expiry date" required> -->
                                    </div>
                                </div>
                                <div class="details address">
                                    <span class="title">Address Details</span>

                                    <div class="fields">
                                        <div class="output-field">
                                            <label>Address Type</label>
                                            <p>
                                                <%= data1[0].address_type %>
                                            </p>
                                            <!-- <output name="add_type" type="text" placeholder="Permanent or Temporary" required> -->
                                        </div>

                                        <div class="output-field">
                                            <label>Nationality</label>
                                            <p>
                                                <%= data1[0].nationality %>
                                            </p>
                                            <!-- <output name="nationality" type="text" placeholder="Enter nationality" required> -->
                                        </div>

                                        <div class="output-field">
                                            <label>State</label>
                                            <p>
                                                <%= data1[0].state %>
                                            </p>
                                            <!-- <output name="state" type="text" placeholder="Enter your state" required> -->
                                        </div>

                                        <div class="output-field">
                                            <label>District</label>
                                            <p>
                                                <%= data1[0].district %>
                                            </p>
                                            <!-- <output name="district" type="text" placeholder="Enter your district" required> -->
                                        </div>

                                        <div class="output-field">
                                            <label>Block Number</label>
                                            <p>
                                                <%= data1[0].blk_no %>
                                            </p>
                                            <!-- <output name="blockno" type="number" placeholder="Enter block number" required> -->
                                        </div>

                                        <div class="output-field">
                                            <label>Ward Number</label>
                                            <p>
                                                <%= data1[0].ward_no %>
                                            </p>
                                            <!-- <input name="ward" type="number" placeholder="Enter ward number" required> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <button class="nextBtn p_nextBtn">
                                    <span class="btnText">Next</span>
                                    <i class="uil uil-navigator"></i>
                                </button> -->
                            </div>
                        </div>
                        <div class="form second">
                            <div class="details family">
                                <div class="buttons">
                                    <div class="backBtn p_backBtn">
                                        <i class="uil uil-navigator"></i>
                                        <span class="btnText">Back</span>
                                    </div>

                                    <button type="submit" class="sumbit">
                                        <span class="btnText">Submit</span>
                                        <i class="uil uil-navigator"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>



                    <% } else { %>
                        <h1>Registration</h1>
                        <form action="/registration" method="POST">
                            <div class="form first">
                                <div class="details personal">
                                    <span class="title">Personal Details</span>

                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Full Name</label>
                                            <input name="stud_name" type="text" placeholder="Enter your name" required>
                                        </div>

                                        <div class="input-field">
                                            <label>Date of Birth</label>
                                            <input name="dob" type="date" placeholder="Enter birth date" required>
                                        </div>

                                        <div class="input-field">
                                            <label>Father's Name</label>
                                            <input name="father_name" type="text" placeholder="Enter your Father's Name"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>Mobile Number</label>
                                            <input name="mob_no" type="number" placeholder="Enter mobile number"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>Gender</label>
                                            <select required name="gen">
                                                <option disabled selected>Select gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Others</option>
                                            </select>
                                        </div>

                                        <div class="input-field">
                                            <label>Email</label>
                                            <input name="email" type="text" placeholder="Enter your Email" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="details ID">
                                    <span class="title">Identity Details</span>

                                    <div class="fields">
                                        <!-- <div class="input-field">
                                            <label>ID Card</label>
                                            <input name="id_type" type="text" placeholder="Enter ID type" required>
                                        </div> -->

                                        <div class="input-field">
                                            <label>ID Card</label>
                                            <input name="id_type" type="file" placeholder="Upload" required>
                                        </div>

                                        <div class="input-field">
                                            <label>ID Number</label>
                                            <input name="id_no" type="text" placeholder="Enter ID number" required>
                                        </div>

                                        <div class="input-field">
                                            <label>Faculty</label>
                                            <input name="faculty" type="text" placeholder="Enter Faculty" required>
                                        </div>

                                        <div class="input-field">
                                            <label>Department</label>
                                            <input name="dept" type="text" placeholder="Enter Department" required>
                                        </div>

                                        <div class="input-field">
                                            <label>Issued Date</label>
                                            <input name="issuse" type="date" placeholder="Enter your issued date"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>Expiry Date</label>
                                            <input name="expiry" type="date" placeholder="Enter expiry date" required>
                                        </div>


                                    </div>

                                    <button class="nextBtn">
                                        <span class="btnText">Next</span>
                                        <i class="uil uil-navigator"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form second">
                                <div class="details address">
                                    <span class="title">Address Details</span>

                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Address Type</label>
                                            <input name="add_type" type="text" placeholder="Permanent or Temporary"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>Nationality</label>
                                            <input name="nationality" type="text" placeholder="Enter nationality"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>State</label>
                                            <input name="state" type="text" placeholder="Enter your state" required>
                                        </div>

                                        <div class="input-field">
                                            <label>District</label>
                                            <input name="district" type="text" placeholder="Enter your district"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>Block Number</label>
                                            <input name="blockno" type="number" placeholder="Enter block number"
                                                required>
                                        </div>

                                        <div class="input-field">
                                            <label>Ward Number</label>
                                            <input name="ward" type="number" placeholder="Enter ward number" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="details family">
                                    <div class="buttons">
                                        <div class="backBtn">
                                            <i class="uil uil-navigator"></i>
                                            <span class="btnText">Back</span>
                                        </div>

                                        <button type="submit" class="sumbit">
                                            <span class="btnText">Submit</span>
                                            <i class="uil uil-navigator"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <% } %>
            </div>
        </reg>

        <complain>
            <div class="Complaint">
                <div class="contain">
                    <h1 class="title">Complaint Form</h1>
                    <form action="https://formsubmit.co/39b0d99c310f76392f73753994f179b1" method="POST">

                        <div class="inputBox">
                            <label>First Name</label>
                            <input type="text" id="compfname" name="firstname" placeholder="Enter first name">
                        </div>

                        <div class="inputBox">
                            <label>Last Name</label>
                            <input type="text" id="complname" name="lastname" placeholder="Enter last name">
                        </div>

                        <div class="inputBox">
                            <label>Email</label>
                            <input type="email" id="compemail" name="email" placeholder="Enter email" required>
                        </div>

                        <div class="inputBox">
                            <label>Subject</label>
                            <input type="text" id="compsubject" name="subject" placeholder="Subject of complaint"
                                required>
                        </div>

                        <div class="inputBox">
                            <label>Complaint</label>
                            <textarea rows="8" id="complaint" name="complaint" placeholder="Enter your complaint ..."
                                required></textarea>
                        </div>
                        <input type="hidden" name="_captcha" value="false">
                        <input type="hidden" name="_next" value="http://localhost:4500">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </complain>

        <payment>
            <div class="payment-container">

                <form action="/payment" , method="POST">

                    <div class="row">

                        <div class="col">

                            <h3 class="title">Billing Address</h3>

                            <div class="inputBox">
                                <label>Full Name</label>
                                <input name="p_name" type="text" placeholder="Enter your Name" required>
                            </div>
                            <div class="inputBox">
                                <label>Email</label>
                                <input name="p_email" type="email" placeholder="example@example.com" required>
                            </div>
                            <div class="inputBox">
                                <label>Amount</label>
                                <input name="p_amt" type="text" placeholder="In Rupees" required>
                            </div>
                            <div class="inputBox">
                                <label>Branch</label>
                                <input name="p_branch" type="text" placeholder="Branch" required>
                            </div>

                        </div>

                        <div class="col">

                            <h3 class="title">Payment</h3>

                            <div>
                                <label style="padding-left: 30px; font-size: 13px;">Scan this QR Code to make payment</label>
                                <img src="css/Images/paymentQR.png" alt="">
                            </div>


                        </div>

                    </div>

                    <input type="submit" value="Proceed to checkout" class="submit-btn">

                </form>

            </div>

        </payment>

        <chat>
            <div class="chat-container">
                <h3 class="title">Enter a message anonymously</h3>
                <form action="/input" method="POST">
                    <div class="input-box">
                        <input type="text" class="message-chat" name="chat" placeholder="Enter a message..."
                            autocomplete="off">
                    </div>
                    <button class="submit-button" type="submit">Submit</button>
                </form>
            </div>
        </chat>


        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <% if (data1.length> 0) { %>
                            <p>Hey, <b>
                                    <%= data1[0].student_name %>
                                </b></p>
                            <% }else{ %>
                                <p>Hey, <b>unknown</b></p>
                                <% } %>
                                    <small class="text-muted"> Student</small>
                    </div>
                    <div class="admin-photo">
                        <img src="css/Images/profile_right.png">
                    </div>
                </div>
            </div>



            <div class="recent-updates">
                <h2>Recent Updates</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <!-- <img src="css/Images/profile-2.jpg">
                             -->
                            <span class="material-symbols-outlined">
                                feed
                            </span>
                        </div>
                        <div class="message">
                            <p>
                                <a href="http://jmicoe.in/pdf23/DIPLOMA NOTICE.pdf" target="_blank">Notice for online
                                    Examination forms for Diploma in
                                    Engineering(Self-finance)</a>
                            </p>

                            <small class="text-muted">Now</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <!-- <img src="css/Images/profile-3.jpg">
                             -->
                            <span class="material-symbols-outlined">
                                feed
                            </span>
                        </div>
                        <div class="message">
                            <p>
                                <a href="http://jmicoe.in/pdf23/FACULTY OF NATURAL SCIENCE COMPARTMENT REVISED  DATE SHEET.pdf"
                                    target="_blank">FACULTY
                                    OF NATURAL SCIENCE COMPARTMENT REVISED DATE SHEET</a>
                            </p>
                            <small class="text-muted">Now</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <!-- <img src="css/Images/profile-4.jpg"> -->
                            <span class="material-symbols-outlined">
                                feed
                            </span>
                        </div>
                        <div class="message">
                            <p>
                                <a href="http://jmicoe.in/pdf23/REMAINING DATESHEET OF COMPARTMENT U.G. (SEMESTER-V AND SEMESTER-VI) OFFLINE MODE (SESSION-2021-22).pdf"
                                    target="_blank">Remaining Datesheet for compartment examination-2022(Faculty of
                                    Humanities &amp; Language and
                                    Faculty of Social Sciences)</a>
                            </p>
                            <small class="text-muted">Now</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/dashboard.js"></script>
    <!-- <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
        function sendEmail() {
            Email.send({
                SecureToken: "b0093f53-9bc1-495f-b4c7-5a2139825e2e",
                To: 'mohdravishjmi@gmail.com',
                From: document.getElementById("compemail").value,
                Subject: "This is the subject",
                Body: "Name : "+document.getElementById("compfname").value+document.getElementById("complname").value+
                +"<br> Email : " + document.getElementById("compemail").value
                +"<br> subject : " + document.getElementById("compsubject").value
                +"<br> message : " + document.getElementById("complaint").value
            }).then(
                message => {
                    if (message=='OK') {
                        alert("Your mail has been sent!")
                    }
                    else{
                        console.log(err);
                        alert("There is an error!")
                    }
                }
            );
        }
    </script> -->

</body>

</html>